@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=DotGothic16&family=M+PLUS+1:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*Base*/
body {
    margin: 0px;
    font-family: "M PLUS 1", sans-serif;
}



/*General Classes*/

.right-align {
    text-align: right;
}



/*Theme*/

body {
    background-color: white;
    color: #333333;
}



/*Misc*/

header {
    display: none;
    padding: 0;
}

.blue-box {
    display: flex;
    justify-content: space-between;
    background-color: #0088FF;
    color: white;
    padding: 15px;
}

.blue-box a::before {
    font-size: 1.5em;
    color: white;
    transition: 0.3s;
}

.blue-box a:hover::before {
    scale: 1.1;
    filter: brightness(0.6);
}

#alert-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alert-container > div {
    padding: 30px 0;
    width: 80%;
}



/*Bootstrap*/

.bi::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}



/*Account/Form*/

.set-section {
    margin: 50px 18vw;
}

fieldset {
    margin-top: 5vw;
    border: none;
    border-bottom: 1px solid #AAAAAA;
}

legend {
    padding: 3px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px;
}

label {
    display: block;
}

.options {
    display: flex;
    justify-content: space-around;
}

.options label {
    display: inline;
}

.options input {
    vertical-align: middle;
    border: none;
    width: auto;
    height: auto;
    border-radius: 5px;
}

.two-col {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}

.three-col {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.grid-item {
    padding: 15px;
}

.two-col .merge {
    grid-column: span 2;
}

.three-col .merge {
    grid-column: span 3;
}

input {
    border: 1px solid #AAAAAA;
    background-color: #F5F5F5;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

input::placeholder {
    color: #AAAAAA;
}

select {
    border: 1px solid #AAAAAA;
    background-color: #F5F5F5;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

textarea {
    border: 1px solid #AAAAAA;
    background-color: #F5F5F5;
    width: 100%;
    border-radius: 5px;
}

#reset {
    width: auto;
}

#submit {
    width: auto;
}

.success {
    border-color: #88FF88;
}

.error {
    border-color: #FF8888;
}



/*Footer*/

footer {
    margin-top: 20px;
    padding: 25px;
    text-align: center;
    color: #AAAAAA;
    background-color: #EEEEEE;
}
